{% extends "one_column_body.html" %}
{% block title %}{% filter trim %}{% trans %}Analytics / Home{% endtrans %}{% endfilter %}{% endblock %}
{% block layout_class %}{{ super() }} analytics-page{% endblock %}
{% block forum_header %}{% endblock %}
{% block content %}
<h1>{% trans %}Analytics{% endtrans %} / {% trans %}Home{% endtrans %}</h1>
<section>
  <h2><a href="{{ url('analytics_users') }}">{% trans %}Users{% endtrans %}</a></h2>
  <p>General statistics of user activity, split by organizations and the group memberships</p>
</section>
<section>
  <h2>Content</h2>
  <p>Rates of answers, accepting answers as correct, by major tags</p>
</section>
<section>
  <h2>Searches</h2>
  <p>Search events, searches that did not result in content clicks</p>
</section>
{% endblock %}
